body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  #root {
    background-color: blueviolet;
    #home-wrapper {
      #nb{
        padding: 15px;
      }
      #menu-wrapper {
        background-color: rgb(60, 1, 116);
        border-radius: 25px;
        height: 80px;
        padding: 10px;
        position: sticky;
        top: 15px;
        z-index: 2;
        overflow: hidden;
        animation: shrink 300ms ease-in-out;
        nav {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 5px 10px;
          #burger-btn {
            cursor: pointer;
          }
          .nav-left,
          .nav-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            color: white;
          }
          .brand-logo, #nav-status {
            margin-left: 15px;
          }
        }
        #menu-content {
          #todo-menu-header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0px;
            input {
              border: 2px solid white;
              border-radius: 25px;
              font-size: 20px;
              font-weight: bold;
              padding: 15px 30px;
            }
            #project-add-btn {
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid white;
              border-radius: 50%;
              background-color: rgb(60, 1, 116);
              color: white;
              margin-left: 15px;
              &:hover {
                background-color: white;
                color: rgb(60, 1, 116);
                cursor: pointer;
              }
            }
          }
          #projects-section {
            header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: white;
              padding: 10px 20px;
            }
            #project-list {
              list-style: none;
              padding: 0px;
              margin: 0px;
              min-height: 200px;

              li {
                color: white;
                font-size: 18px;
                padding: 15px 20px;
                margin: 5px 0px;
                cursor: pointer;
                border: 2px solid transparent;
              }
              li:hover,
              .is-selected {
                border-color: white;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .is-menu-expanded {
        padding-bottom: 30px !important;
        height: auto !important;
        animation: grow 300ms ease-in-out !important;
      }
      #main-card {
        width: 80%;
        padding: 10px 20px;
        margin: 0px auto;
        background-color: white;
        border-radius: 5px;

        #input-wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0px;
          border-bottom: 2px solid rgb(60, 1, 116);
          input {
            border: 2px solid white;
            border-radius: 25px;
            font-size: 20px;
            font-weight: bold;
            padding: 15px 30px;
            color: white;
            background-color: rgb(60, 1, 116);
          }
          input::placeholder{
            color: rgb(202, 202, 202);
          }
          #add-todo-btn {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: white;
            background-color: rgb(60, 1, 116);
            border: none;
            border-radius: 100%;
            z-index: 2;
            &:hover {
              cursor: pointer;
            }
            &:active {
              border: 2px solid;
              box-shadow: 0px 0px 40px 7px darkslateblue;
            }
          }
        }

        ul {
          list-style: none;
          padding: 0px;
          margin: 0px;
          min-height: 400px;
          li {
            background-color: whitesmoke;
            font-size: 18px;
            padding: 15px 20px;
            margin: 5px 0px;
            border: 2px solid transparent;
            border-radius: 5px;
            cursor: pointer;
          }
          li:hover,
          .is-completed {
            border-color: blueviolet;
            border-radius: 5px;
            text-decoration: line-through;
          }
          .is-completed {
            border-color: transparent;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    #root {
      display: block;
      #home-wrapper {
        height: 100vh;
        background-color: blueviolet;
        border: none;
        box-shadow: none;
        border-radius: 0px;
      }
    }
  }
}

@keyframes grow {
  from {
    height: 80px;
  }
  to {
    height: 350px;
  }
}

@keyframes shrink {
  from {
    height: 500px;
  }
  to {
    height: 60px;
  }
}
