body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  #root {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #home-wrapper {
      max-width: 600px;
      max-height: 700px;
      width: 100%;
      position: relative;
      background-color: blueviolet;
      border: 5px solid whitesmoke;
      box-shadow: 2px 2px 2px 2px grey;
      border-radius: 25px;
      overflow: hidden;
      overflow-y: scroll;
      #menu-wrapper {
        background-color: rgb(60, 1, 116);
        border-radius: 25px;
        // width: 530px;
        // height: 650px;
        margin: 15px;
        padding: 10px;
        position: sticky;
        top: 15px;
        z-index: 2;
        animation: shrink 300ms ease-in-out;

        // &:hover {
        //   align-items: flex-start;
        //   width: 530px;
        //   height: 650px;
        //   overflow-y: auto;
        //   background-color: rgb(60, 1, 116);
        //   animation: grow 300ms ease-in-out;
        // }
        // &:hover > #menu-content {
        //   display: block;
        // }
        nav {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          pointer-events: none;

          #burger-btn {
            pointer-events: auto;
            cursor: pointer;
          }
          .nav-left,
          .nav-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            padding: 5px 10px;
            color: white;
          }
          #status {
            margin-left: 15px;
          }
        }

        #menu-content {
          display: none;

          #todo-menu-header{
            display: flex;
            width: fit-content;
            border: 2px solid white;
            border-radius: 25px;
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin: 20px auto;
            div{
              padding: 15px 30px;
            }
            .is-selected{
              background-color: blueviolet;
            }
          }
          #projects-section{
            header{
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: white;
              padding: 10px 20px;

              #project-add-btn{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                border-radius: 50%;
                background-color: transparent;
                color: white;

                &:hover{
                  background-color: white;
                  color: rgb(60, 1, 116);
                  cursor: pointer;
                }
              }
            }
            #project-list{
                list-style: none;
                padding: 0px;
                margin: 0px;
      
                li {
                  color: white;
                  border: 2px solid white;
                  font-size: 18px;
                  padding: 15px 20px;
                  margin: 5px 0px;
                  border-radius: 5px;
                }
            }
          }
        }
      }

      #main-card {
        width: 80%;
        padding: 10px 20px;
        margin: 0px auto;
        background-color: honeydew;
        border-radius: 5px;
        ul {
          list-style: none;
          padding: 0px;
          margin: 0px;

          li {
            background-color: whitesmoke;
            font-size: 18px;
            padding: 15px 20px;
            margin: 5px 0px;
            border-radius: 5px;
          }
        }
        .btn-wrapper {
          position: sticky;
          width: 100%;
          display: flex;
          justify-content: center;
          bottom: 20px;
        }
        #add-todo-btn {
          width: 60px;
          height: 60px;
          font-size: 20px;
          color: white;
          background-color: rgb(60, 1, 116);
          border: none;
          border-radius: 100%;
          z-index: 2;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    #root {
      display: block;
      #home-wrapper {
        height: 100vh;
        background-color: blueviolet;
        border: none;
        box-shadow: none;
        border-radius: 0px;
      }
    }
  }
}

@keyframes grow {
  from {
    height: 60px;
  }
  to {
    height: 500px;
  }
}

@keyframes shrink {
  from {
    height: 500px;
  }
  to {
    height: 60px;
  }
}
