body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  #root {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #home-wrapper {
      max-width: 600px;
      max-height: 700px;
      width: 100%;
      position: relative;
      background-color: blueviolet;
      border: 5px solid whitesmoke;
      box-shadow: 2px 2px 2px 2px grey;
      border-radius: 25px;
      overflow: hidden;
      overflow-y: scroll;
      nav {
        display: flex;
        justify-content: space-between;
        margin: 15px;
        padding: 10px;
        background-color: rgb(60, 1, 116);
        border-radius: 25px;
        position: sticky;
        top: 15px;
        z-index: 2;

        &:hover {
          position: absolute;
          align-items: flex-start;
          width: 530px;
          height: 500px;
          animation: grow 300ms linear;
        }
        .nav-left,
        .nav-right {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 20px;
          padding: 5px 10px;
          color: white;
        }
        #status {
          margin-left: 15px;
        }
      }

      #main-card {
        width: 80%;
        padding: 10px 20px;
        margin: 0px auto;
        background-color: honeydew;
        border-radius: 5px;
        ul {
          list-style: none;
          padding: 0px;
          margin: 0px;

          li {
            background-color: whitesmoke;
            font-size: 18px;
            padding: 15px 20px;
            margin: 5px 0px;
            border-radius: 5px;
          }
        }
        .btn-wrapper {
          position: sticky;
          width: 100%;
          display: flex;
          justify-content: center;
          bottom: 20px;
        }
        #add-todo-btn {
          width: 60px;
          height: 60px;
          font-size: 20px;
          color: white;
          background-color: rgb(60, 1, 116);
          border: none;
          border-radius: 100%;
          z-index: 2;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    #root {
      display: block;
      #home-wrapper {
        height: 100vh;
        background-color: blueviolet;
        border: none;
        box-shadow: none;
        border-radius: 0px;
      }
    }
  }
}

@keyframes grow {
  from {
    height: 60px;
  }
  to {
    height: 500px;
  }
}
